.debug_panel {
	width: 100%;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left !important;
}

.debug_panel * {
	margin: 0;
}

.debug_panel .console_warning {
	color: orange;
}

.debug_panel .console_error {
	color: red;
}

.debug_pill {
	/* Adapted from Bootstrap */
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: whiteSmoke;
	cursor: pointer;
	background-image: linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.debug_tab {
	display: none;
	background-color: rgba(0,0,0,0.90);
	color: #EEE;
	font-family: Arial, sans-serif;
	font-size: 13px;
	border-top: 1px solid green;
	position: relative;
	height: 250px;
	overflow-y: scroll;
}

.debug_tab * {
	width: auto;
	color: #FFF;
}