.navbar .brand {
	padding-left: 35px;
}

.brand img {
	position: absolute;
	top: 1px;
	left: 5px;
	height: 35px;
}

.progress {position: relative; margin-bottom: 0;}
.progress .progress-text {position: absolute; text-align: center; width: 100%; font-weight: bold; color: #333;}
.progress .bar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.addlink {margin-left: 10px;}
.modal {display: none;}
#activity_feed li {margin-bottom: 5px; margin-left: 10px;}
