
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.nav-gravatar {
	position: relative;
	bottom: 2px;
}

.form-horizontal .input-append {
	display: inline-block !important;
}

.navbar .brand {
	padding-left: 35px;
}

.brand img {
	position: absolute;
	top: 1px;
	left: 5px;
	height: 35px;
}

.page-header {
	padding-bottom: 10px;
}

.page-header h1 a i {
	vertical-align: middle;
}

.page-header h1 a {
	display: inline;
}

.messages {
	display: none;
	position: absolute;
	top: 40px;
	left: 10%;
	width: 80%;
	z-index: 1000;
	padding: 10px;
}

.accordion-heading h4 .accordion-toggle {
	display: inline;
	padding-right: 6px;
}

#activity_feed li a {
	word-wrap: break-word;
}

.progress {position: relative; margin-bottom: 0;}
.progress .progress-text {position: absolute; text-align: center; width: 100%; font-weight: bold; color: #333;}
.progress .bar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.add-links {margin-left: 25px;}
.add-links a {display: block;}
.modal {display: none;}

.progress .bar {
   box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 10px rgba(255,255,255,0.25), inset 0 -15px 20px rgba(255,255,255,0.1);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 10px rgba(255,255,255,0.25), inset 0 -15px 20px rgba(255,255,255,0.1);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 10px rgba(255,255,255,0.25), inset 0 -15px 20px rgba(255,255,255,0.1);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 10px rgba(255,255,255,0.25), inset 0 -15px 20px rgba(255,255,255,0.1);
}

.top-row {
	padding-right: 0;
}

.git-commit thead th a {
	color: #333;
}

.git-commit .author img, img.gravatar {
  vertical-align: middle;
  margin-right: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.git-commit .date {
	font-size: 11px;
	color: #888;
}

.git-commit .hash {
	float: right;
	margin-right: 5px;
}

.git-commit-file-changes {
	overflow: hidden;
	width: 100%;
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
	margin-bottom: 20px;
}

.git-commit-file-changes .code {
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
   -webkit-box-shadow: inset 60px 0 0 #fbfbfc, inset 61px 0 0 #ececf0;
      -moz-box-shadow: inset 60px 0 0 #fbfbfc, inset 61px 0 0 #ececf0;
           box-shadow: inset 60px 0 0 #fbfbfc, inset 61px 0 0 #ececf0;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.git-commit-file-changes .code code {
   overflow: hidden;
	display: block;
	color: #333;
	border: 0;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	font-family: Menlo, Monaco, "Courier New", monospace;
	padding-left: 5px;
}

.git-commit-file-changes p {
	margin: 0;
}

.git-commit-file-changes .code code:after {
	content: " ";
}

.git-commit-file-changes .list p.grey {
	color: #999;
}

.git-commit-file-changes .list .line-numbers {
   float: left;
	min-width: 53px;
}

.git-commit-file-changes .code-green, .git-commit-file-changes .code-green span {
	color: #000 !important;
	background-color: #DFD;
}

.git-commit-file-changes .code-red, .git-commit-file-changes .code-red span {
	color: #000 !important;
	background-color: #FDD;
}

.git-commit-file-changes .code code:hover, .git-commit-file-changes code:hover span {
	background-color: #FCEFA1 !important;
}

.left-line-number, .right-line-number {
	display: inline-block;
	text-align: center;
	min-width: 20px;
	max-width: 30px; /* TODO: size the shadow */
	color: #777;
	font-size: 12px;
}


.left-line-number:after, .right-line-number:after {
	content: "";
}

.left-line-number {
}

.right-line-number {
}

.git-commit-file-changes h3 {
	font-weight: bold;
	font-size: 13px;
}

/* Fix images */

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("{{home_url}}apps/core/media/img/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("{{home_url}}apps/core/media/img/glyphicons-halflings-white.png");
}

